html, body { 
	position:absolute;
	height: 100%; margin: 0; 
	padding: 30px;
	width: 90%;
	max-width:1400px;		
	top:auto;
    left:auto;
}
.qry_box{
	width:35%;
}
.loc_box{
	width:35%;
}
#map {
    height: 80%;
    margin-top: 3%;
    border-style: solid;
    max-width:1200px;
    
}

body{
		
}